.memory-container {
    position: relative;
    height: 100%;
    padding: 0.4rem;
}

.memory-item-container {
    height: 85%;
    overflow-y: hidden;
}

.memory-item-container:hover {
    overflow-y: auto;
}

.memory-item {
    color: var(--clr-white-primary);
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.5rem;
}

.memory-item:hover {
    background: var(--clr-grey-light);
    cursor: pointer;
}

.memory-item:hover .memory-btn {
    visibility: visible;
}

.memory-item p {
    margin-bottom: 0.5em;
}

.memory-item div {
    display: flex;
    justify-content: flex-end;
}

.memory-btn {
    visibility: hidden;
    background: none;
    color: var(--clr-white-primary);
    border: 0.1em solid var(--clr-white-primary);
    font-size: 1rem;
}

.memory-btn:hover {
    background: var(--clr-white-primary);
    color: var(--clr-grey-dark);
}

.memory-btn:not(.memory-btn:last-child) {
    margin-right: 0.5em;
}

.memory-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: var(--clr-grey-dark);
    padding: 0.4rem 0.4rem;
}

.delete-btn {
    color: var(--clr-white-primary);
    background: none;
    border: none;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
}

.delete-btn svg {
    display: block;
    margin: auto;
}

.delete-btn:hover {
    background-color: var(--clr-grey-light);
    color: var(--clr-white-secondary);
}
