.tab-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
}

.tab-headers button {
    background: none;
    border: none;
    color: var(--clr-white-primary);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.2em 0;
    border-bottom: 0.1em solid transparent;
    font-family: inherit;
}

.tab-headers button:hover,
.tab-headers button:focus {
    outline: none;
    background: linear-gradient(to right, var(--clr-teal) 30%, var(--clr-red) 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab-headers button.active {
    border-image-source: linear-gradient(to right, var(--clr-teal) 30%, var(--clr-red) 70%);
    border-image-slice: 7;
}

.tab-children {
    height: 90%;
}
