.history-container {
    all: unset;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.history-item-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 80%;
    overflow-y: auto;
}

.history-item {
    text-align: right;
}
