.history-container {
    position: relative;
    height: 100%;
    padding: 0.4rem;
}

.history-item-container {
    height: 85%;
    overflow-y: hidden;
}

.history-item-container:hover {
    overflow-y: auto;
}

.history-item {
    color: var(--clr-white-primary);
    text-align: right;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem;
}

.history-item:hover,
.history-item:focus {
    outline: none;
    background: var(--clr-grey-light);
    cursor: pointer;
}

.history-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: var(--clr-grey-dark);
    padding: 0.4rem 0.4rem;
}

.delete-btn {
    color: var(--clr-white-primary);
    background: none;
    border: none;
    font-size: 2rem;
    width: 2.75rem;
    height: 2.75rem;
}

.delete-btn svg {
    display: block;
    margin: auto;
}

.delete-btn:hover,
.delete-btn:focus {
    outline: none;
    color: var(--clr-white-secondary);
    background-color: var(--clr-grey-light);
}
